<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h2>Reserve Asset: {{ asset.name }}</h2>

<form method="POST">
    {% csrf_token %}

    <label>Start Date & Time</label><br>
    <input type="datetime-local" name="start_date" required><br><br>

    <label>Number of Days</label><br>
    <input type="number" name="days" min="1" value="1" required><br><br>

    <button type="submit">Reserve</button>
</form>
 
</body>
</html>