<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reservation Board</h1>

<table border="1" cellpadding="8">
    <tr>
        <th>User</th>
        <th>Asset</th>
        <th>Start</th>
        <th>End</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    {% for r in reservations %}
    <tr>
        <td>{{ r.user.username }}</td>
        <td>{{ r.asset.name }} (ID: {{ r.asset.id }})</td>
        <td>{{ r.start_date }}</td>
        <td>{{ r.end_date }}</td>
        <td>{{ r.status }}</td>

        <td>

            {% if r.status == "booked" %}
                <a href="/reservations/{{ r.id }}/checkout/">Check Out</a>
            {% endif %}

            {% if r.status == "checked_out" %}
                <a href="/reservations/{{ r.id }}/checkin/">Check In</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

    
</body>
</html>